<!DOCTYPE html>

{% load static %}

<html>
	
	<head>
		<title>Rango</title>
	</head>

	<body>
	
		<h1>Rango says... hello world!</h1>
		<h1>Version 2 for GitHub</h1>
		<h1>Sub version of v2. Version name - 2.1</h1>
		another change<br>
		{% if categories %}
			<ul>
				{% for category in categories %}
					<li><a href="/rango/category/{{category.url}}"> {{category.name}} </a></li>
				{% endfor %}
			</ul>		
		{% else %}
			<strong>There are no categories to present.</strong>
		{% endif %}
		
		{% if pages %}
			<ul>
				{% for page in pages %}
					<li>{{page.title}} </a></li>
				{% endfor %}
			</ul>		
		{% else %}
			<strong>There are no categories to present.</strong>
		{% endif %}
		
		
		<a href='add_category/'>Add a New Category</a>
		<br>
		
		<a href='register/'>register Here</a>
		<br>
		
		<a href='login/'>Login</a>
		<br>	
		
		<a href='about/'>About</a><br />
	</body>
</html>